@layer buttons {
	.btn {
		--ripple-color: color-mix(in oklch, currentColor 45%, transparent);
		
		position: relative;
		overflow: hidden;
		display: grid;
		place-items: center;
		min-height: var(--buttons-min-height);
		padding-inline: var(--buttons-padding-inline);
		border-radius: 0.5rem;
		background: var(--primary-1);
		color: var(--color-1);
	}
}
