@layer typography {
	:root {
		font-family: var(--font), sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
		overflow-wrap: break-word;
		font-size: inherit;
		font-weight: inherit;
		font-variant-numeric: lining-nums;
	}

	p {
		text-wrap: pretty;
		overflow-wrap: break-word;
		font-size: clamp(1rem, 0.35vw + 1rem, 1.125rem);
		font-variant-numeric: proportional-nums;
	}

	h1 {
		font-size: clamp(2.1rem, 2.9vw + 1.3rem, 3.8rem);
		font-weight: 900;
	}

	h2 {
		font-size: clamp(1.9rem, 2.35vw + 1.1rem, 3.2rem);
		font-weight: 900;
	}

	h3 {
		font-size: clamp(1.7rem, 1.85vw + 1.02rem, 2.6rem);
		font-weight: 800;
	}

	h4 {
		font-size: clamp(1.5rem, 1.5vw + 0.98rem, 2.1rem);
		font-weight: 800;
	}

	h5 {
		font-size: clamp(1.38rem, 1.22vw + 0.92rem, 1.8rem);
		font-weight: 800;
	}

	h6 {
		font-size: clamp(1.25rem, 1.1vw + 0.88rem, 1.55rem);
		font-weight: 700;
	}
}
