@layer typography {
	:root {
		font-family: var(--font), sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
		overflow-wrap: break-word;
		font-size: inherit;
		font-weight: inherit;
		font-variant-numeric: lining-nums;
	}

	p {
		text-wrap: pretty;
		overflow-wrap: break-word;
		font-size: clamp(0.8rem, 0.35vw + 0.8rem, 1.125rem);
		font-variant-numeric: proportional-nums;
	}

	h1 {
		font-size: clamp(1.8rem, 2.5vw + 1.2rem, 3.4rem);
		font-weight: 800;
	}

	h2 {
		font-size: clamp(1.6rem, 2vw + 1rem, 2.8rem);
		font-weight: 800;
	}

	h3 {
		font-size: clamp(1.4rem, 1.5vw + 0.95rem, 2.2rem);
		font-weight: 700;
	}

	h4 {
		font-size: clamp(1.2rem, 1.2vw + 0.9rem, 1.8rem);
		font-weight: 700;
	}

	h5 {
		font-size: clamp(1.1rem, 1vw + 0.85rem, 1.5rem);
		font-weight: 700;
	}

	h6 {
		font-size: clamp(1.05rem, 0.9vw + 0.8rem, 1.25rem);
		font-weight: 700;
	}
}