---
import type { SocialLink } from "@/assets/datas/socials";
import { Icon } from "astro-icon/components";

interface Props {
  link: SocialLink;
}

const { link } = Astro.props as Props;
---

<li class="w-fit">
  <a
    href={link.href}
    referrerpolicy="no-referrer"
    target="_blank"
    class="group/socialLink flex items-center gap-1 md:gap-0 md:flex-col transition-colors hover:text-accent"
  >
    <Icon
      class="duration-300 group-hover/socialLink:scale-120"
      size={40}
      name={link.iconName}
    />
    <span>{link.label}</span>
  </a>
</li>
