---
import type { SocialLink } from "@/assets/datas/socials";
import { Icon } from "astro-icon/components";

interface Props {
	link: SocialLink;
}

const { link } = Astro.props as Props;
---

<li class="w-fit">
  <a
    href={link.href}
    referrerpolicy="no-referrer"
    target="_blank"
    class="group/socialLink flex flex-col items-center gap-0 md:gap-1 md:flex-row transition-colors hover:text-accent"
  >
    <Icon
      class="duration-300 group-hover/socialLink:scale-120"
      size={38}
      name={link.iconName}
    />
    <span>{link.label}</span>
  </a>
</li>
