---
import Avatar from "@/components/Avatar.astro";
import Body from "@/layouts/Body.astro";
import Meta from "@/layouts/Meta.astro";
import DemoCode from "@/components/DemoCode.astro";
---

<Meta
    title="Accueil - Portfolio"
    description="Page d'accueil du portfolio de Kevin Stefanelli"
    keywords="Portfolio, Developpeur, Web, Astro, React, Solid, Java"
>
    <Body>
        <main class="p-3 container mx-auto flex flex-col gap-10">
            <h1>Hello world</h1>
            <section class="flex items-center flex-col-reverse md:flex-row">
                <Avatar />
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Voluptates eveniet sint facilis corrupti expedita veniam
                    tempora eos animi voluptatem mollitia nobis asperiores
                    dignissimos totam, perspiciatis voluptas pariatur natus
                    necessitatibus fugit!
                </p>
            </section>
            <section class="flex justify-center">
                <DemoCode />
            </section>
        </main>
    </Body>
</Meta>
