---
import Avatar from "@/components/Avatar.astro";
import Layout from "@/layouts/Layout.astro";
import type { SEOProps } from "astro-seo";

const seo: SEOProps = {
  title: "Kevin Stefanelli – Développeur FullStack",
  description:
    "Développeur web fullstack à Marseille, je conçois des expériences performantes, accessibles et modernes.",
  openGraph: {
    basic: {
      title: "Kevin Stefanelli – FullStack Developer",
      type: "website",
      image: "/assets/images/og-home.png",
      url: Astro.url?.href,
    },
    optional: {
      description:
        "Portfolio de Kevin Stefanelli. Découvrez mes projets, mon expertise front/back et contactez-moi.",
      siteName: "Kev Stfnl",
    },
  },
  twitter: {
    card: "summary_large_image",
    title: "Kevin Stefanelli – Développeur FullStack",
    description: "Expériences web modernes, performantes et accessibles.",
    image: "/assets/images/og-home.png",
  },
};
---

<Layout className="flex flex-col gap-10">
    <section class="flex gap-5 px-5 flex-col-reverse h-screen md:flex-row items-center justify-center md:justify-between">
        <article class="flex flex-col justify-center gap-10 md:h-full w-full">
            <h1 class="md:text-7xl font-black">Développeur <br> <strong class="text-primary">FullStack</strong></h1>
            <p class="text-xl text-text-secondary">
                Je crée des expériences web modernes, performantes et accessibles. <br>
                Passionné par les nouvelles technologies et l'innovation.
            </p>
            <nav class="mt-5">
                <ul class="flex gap-3 justify-center md:justify-start">
                   	<li><a href="/contact" class="btn btn-primary">Me contacter</a></li>
                   	<li><a href="/projects" class="btn btn-secondary">Voir mes projet</a></li>
                </ul>
            </nav>
        </article>
        <article class="grid place-items-center w-full md:h-full">
            <Avatar />
        </article>
    </section>
    <section class="flex gap-5 px-5 flex-col-reverse h-screen md:flex-row items-center justify-center md:justify-between">

    </section>
</Layout>
