---
import Avatar from "@/components/Avatar.astro";
import Body from "@/layouts/Body.astro";
import Meta from "@/layouts/Meta.astro";
import DemoCode from "@/components/DemoCode.astro";
---

<Meta
    title="Accueil - Portfolio"
    description="Page d'accueil du portfolio de Kevin Stefanelli"
    keywords="Portfolio, Developpeur, Web, Astro, React, Solid, Java"
>
    <Body>
        <main
            class="md:p-3 max-w-screen container flex flex-col items-center justify-center gap-10"
        >
            <h1 class="text-center max-w-screen">
                Actuellement en developpement...
            </h1>
            <section
                class="flex flex-col gap-5 h-fit w-100 items-center max-w-screen"
            >
                <Avatar />
                <p class="p-1">
                    Revenez plus tard pour découvrir mon portfolio en cours de
                    développement. Vous y trouverez mes projets, mes compétences
                    et bien plus encore. En attendant, n'hésitez pas à me
                    contacter pour toute question ou collaboration potentielle.
                </p>
            </section>
        </main>
    </Body>
</Meta>
