---
import Name from "../design/Name.astro";
import MenuButton from "../buttons/MenuButton.astro";
import ThemeButton from "../buttons/ThemeButton.astro";
---

<header class="container">
    <Name />

    <div class="header-controllers">
        <ThemeButton />
        <MenuButton />
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        justify-content: space-between;
        align-self: center;
        padding-inline: 1rem;
        height: 5rem;

        border-bottom: 2px solid
            color-mix(in oklch, var(--color-border) 42%, transparent);
        border-inline: 2px solid
            color-mix(in oklch, var(--color-border) 42%, transparent);
        border-radius: 0 0 1rem 1rem;
        backdrop-filter: blur(1rem);
    }

    .header-controllers {
        display: flex;
        align-self: center;
        gap: 0.6rem;
    }
</style>
