---

---

<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 647 667"
    fill="none"
    id="avatar"
    class="will-change-transform animate-wave"
>
    <title>Avatar de Kevin Stefanelli</title>
    <g class="frame-container-wrapper">
        <g class="frame-container-blur">
            <g class="frame-container-shadows">
                <g class="fills">
                    <rect
                        width="647"
                        height="667"
                        class="frame-background"
                        rx="0"
                        ry="0"></rect>
                </g>
                <g class="frame-children">
                    <path
                        d="M323.291 17.298c1.134-8.56 3.107-14.054 3.107-14.054S533.803-42.625 572.99 210.606c-11.469 78.358 50.657 99.381 59.259 147.161 8.602 47.779-15.293 37.268-20.072 76.447-4.778 39.179 30.586 29.623 34.409 67.846 3.823 38.224-20.072 37.268-20.072 63.069 0 25.801 54.48 77.403-38.231 99.381-38.232-22.934-101.313-1.911-118.518-93.647-44.921-11.467-35.364-77.403-35.364-77.403l54.419-309.032s-15.231-51.224-102.208-78.936c-44.166-14.073-59.004-40.219-62.911-62.548-3.261 22.887-17.529 50.45-63.313 65.037-86.977 27.712-108.004 77.403-108.004 77.403l60.215 310.566s9.557 65.935-35.364 77.402C160.03 665.089 96.949 644.066 58.717 667c-92.711-21.979-38.231-73.58-38.231-99.381 0-25.801-23.895-24.845-20.072-63.069 3.823-38.223 39.187-28.667 34.409-67.847-4.779-39.179-28.674-28.667-20.072-76.447 8.602-47.779 70.728-68.802 59.259-147.16C113.197-40.135 320.602 5.734 320.602 5.734s1.595 4.441 2.689 11.564Z"
                        class="fills"
                        style="fill:#9a6240;fill-opacity:1"></path>
                    <ellipse
                        cx="320.60230241"
                        cy="274.73137536"
                        class="fills"
                        rx="181.59916292"
                        ry="271.86461318"
                        style="fill:#feceae;fill-opacity:1"></ellipse>
                    <path
                        d="M143.782 258.009s-19.116-10.512-29.629.955c-10.514 11.467-35.364 93.648 39.187 113.715 74.551 20.067-9.558-114.67-9.558-114.67Zm357.704-.377s19.116-10.512 29.629.955c10.514 11.467 35.364 93.648-39.187 113.715-74.551 20.067 9.558-114.67 9.558-114.67Z"
                        class="fills"
                        style="fill:#feceae;fill-opacity:1"></path>
                    <path
                        d="M319.647 590.553h-16.578c-34.079 0-51.391-31.534-51.391-31.534s-19.893-46.824-9.118-41.091c10.776 5.734 11.605 5.734 22.38 5.734 10.776 0 17.407-20.067 17.407-20.067v-6.69c0-13.185 16.124-22.934 27.742-25.8h19.115c11.307 3.344 28.563 12.615 28.563 25.8v6.69s6.946 20.067 18.235 20.067 12.157 0 23.446-5.734c11.288-5.733-9.552 41.091-9.552 41.091s-12.014 21.153-45.317 29.62c-2.617 1.232-5.497 1.914-8.521 1.914h-16.411Z"
                        class="fills"
                        style="fill:#9d6341;fill-opacity:1"></path>
                    <path
                        d="M252.16863113 394.4809648h59.4453989a5.80417568 5.80417568 0 0 1 5.80417568 5.80417569 23.21670273 23.21670273 0 0 1-23.21670272 23.21670273h-62.92790431a2.32167027 2.32167027 0 0 1-2.32167027-2.32167028v-3.4825054a23.21670273 23.21670273 0 0 1 23.21670272-23.21670273z"
                        class="fills"
                        style="fill:#9d6341;fill-opacity:1"
                        transform="matrix(.984 -.18 .254 .967 -99.614397 62.531051)"
                    ></path>
                    <path
                        d="M344.13574663 394.4809648h59.4453989a5.80417568 5.80417568 0 0 1 5.80417569 5.80417569 23.21670273 23.21670273 0 0 1-23.21670273 23.21670273h-62.92790431a2.32167027 2.32167027 0 0 1-2.32167027-2.32167028v-3.4825054a23.21670273 23.21670273 0 0 1 23.21670272-23.21670273z"
                        class="fills"
                        style="fill:#9d6341;fill-opacity:1"
                        transform="matrix(-.984 -.18 -.254 .967 828.422857 79.051056)"
                    ></path>
                    <path
                        d="M176.279 226.754c0-6.065 6.69-9.078 10.991-10.989 0 0 9.786-3.237 29.592-4.778 12.931-1.007 6.584-1.014 19.514 0 19.592 1.535 29.269 4.778 29.269 4.778 4.301 1.911 10.991 4.924 10.991 10.989s-4.925 10.989-10.991 10.989c0 0-9.537-3.269-28.853-4.778-13.298-1.039-6.769-1.026-20.068 0-19.715 1.522-29.454 4.778-29.454 4.778-6.066 0-10.991-4.924-10.991-10.989Zm40.583-15.767c12.931-1.007 6.584-1.014 19.514 0m-19.652 21.978c13.299-1.026 6.77-1.039 20.068 0m229.09-6.211c0-6.065-6.691-9.078-10.992-10.989 0 0-9.786-3.237-29.592-4.778-12.931-1.007-6.584-1.014-19.514 0-19.592 1.535-29.268 4.778-29.268 4.778-4.301 1.911-10.992 4.924-10.992 10.989s4.925 10.989 10.992 10.989c0 0 9.536-3.269 28.853-4.778 13.297-1.039 6.768-1.026 20.067 0 19.715 1.522 29.454 4.778 29.454 4.778 6.066 0 10.992-4.924 10.992-10.989Zm-40.584-15.767c-12.931-1.007-6.584-1.014-19.514 0m19.652 21.978c-13.299-1.026-6.77-1.039-20.067 0"
                        class="fills"
                        style="fill:#9d6441;fill-opacity:1"></path>
                    <path
                        d="M158.117 152.894s82.063-4.641 165.079-77.969c83.017-73.327 48.665-68.686 48.665-68.686s-119.277-18.564-144.086 8.353c-24.81 26.918-70.612 74.256-70.612 104.887 0 30.63.954 33.415.954 33.415Z"
                        class="fills"
                        style="fill:#9a6240;fill-opacity:1"></path>
                    <path
                        d="M326.337 53.513s97.49 60.202 156.749 64.98c59.258 4.778-59.259-99.381-59.259-99.381L346.408 4.778l-20.071 48.735Z"
                        class="fills"
                        style="fill:#9a6240;fill-opacity:1"></path>
                    <defs>
                        <clipPath id="a" class="frame-clip frame-clip-def">
                            <path
                                d="m225.1520938 267.3610542 27.45365747-.3734041a28.24471812 27.44668438 43.39902114 0 1 29.02245737 27.444948l.29411558 6.9559221a14.12235906 13.72334219 43.39902114 0 1-13.3347664 14.10121439l-48.33815377.65745937a21.18353859 20.58501328 43.39902114 0 1-21.76684303-20.583711 28.24471812 27.44668438 43.39902114 0 1 26.66953278-28.20242876z"
                            ></path>
                        </clipPath>
                    </defs>
                    <g class="frame-container-wrapper">
                        <g class="frame-container-blur">
                            <g
                                class="frame-container-shadows"
                                clip-path="url(#a)"
                            >
                                <g class="fills">
                                    <path
                                        d="M226.18014736 267.15258646h27.45618344a27.84855715 27.84855715 0 0 1 27.84855714 27.84855715v6.96213928a13.92427857 13.92427857 0 0 1-13.92427857 13.92427858h-48.3426013a20.88641786 20.88641786 0 0 1-20.88641786-20.88641786 27.84855715 27.84855715 0 0 1 27.84855715-27.84855715z"
                                        class="frame-background"
                                        style="fill:#fff;fill-opacity:1"
                                        transform="matrix(1 -.014 .042 1 -12.293106 3.523085)"
                                    ></path>
                                </g>
                                <g
                                    class="eye will-change-transform transition-duration-100 ease-linear transition-transform"
                                    id="left-eye"
                                >
                                    <defs>
                                        <clipPath
                                            id="b"
                                            class="frame-clip frame-clip-def"
                                        >
                                            <rect
                                                width="41.09875635"
                                                height="54.46850148"
                                                x="222.05862904"
                                                y="263.82129007"
                                                rx="20.54937818"
                                                ry="20.54937818"
                                                transform="matrix(1 -.014 .042 1 -12.273232 3.559388)"
                                            ></rect>
                                        </clipPath>
                                    </defs>
                                    <g class="frame-container-wrapper">
                                        <g class="frame-container-blur">
                                            <g
                                                class="frame-container-shadows"
                                                clip-path="url(#b)"
                                            >
                                                <g class="fills">
                                                    <rect
                                                        width="41.09875635"
                                                        height="54.46850148"
                                                        x="222.05862904"
                                                        y="263.82129007"
                                                        class="frame-background"
                                                        rx="20.54937818"
                                                        ry="20.54937818"
                                                        style="fill:#7c8fa2;fill-opacity:1"
                                                        transform="matrix(1 -.014 .042 1 -12.273232 3.559388)"
                                                    ></rect>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                    <defs>
                        <clipPath id="c" class="frame-clip frame-clip-def">
                            <path
                                d="m418.10355099 267.36111244-27.45365747-.3734041a27.44668438 28.24471812 46.60097886 0 0-29.02245738 27.44494801l-.29411557 6.9559221a13.72334219 14.12235906 46.60097886 0 0 13.33476639 14.10121438l48.33815378.65745938a20.58501328 21.18353859 46.60097886 0 0 21.76684303-20.583711 27.44668438 28.24471812 46.60097886 0 0-26.66953278-28.20242877z"
                            ></path>
                        </clipPath>
                    </defs>
                    <g class="frame-container-wrapper">
                        <g class="frame-container-blur">
                            <g
                                class="frame-container-shadows"
                                clip-path="url(#c)"
                            >
                                <g class="fills">
                                    <path
                                        d="M389.61939398 267.15258646h27.45618344a27.84855715 27.84855715 0 0 1 27.84855715 27.84855715v6.96213928a13.92427857 13.92427857 0 0 1-13.92427858 13.92427858h-48.3426013a20.88641786 20.88641786 0 0 1-20.88641785-20.88641786 27.84855715 27.84855715 0 0 1 27.84855714-27.84855715z"
                                        class="frame-background"
                                        style="fill:#fff;fill-opacity:1"
                                        transform="matrix(-1 -.014 -.042 1 818.972961 5.745917)"
                                    ></path>
                                </g>
                                <g
                                    class="eye will-change-transform transition-duration-100 ease-linear transition-transform"
                                    id="right-eye"
                                >
                                    <defs>
                                        <clipPath
                                            id="d"
                                            class="frame-clip frame-clip-def"
                                        >
                                            <rect
                                                width="41.09875635"
                                                height="54.46850148"
                                                x="376.27531118"
                                                y="263.81926679"
                                                rx="20.54937818"
                                                ry="20.54937818"
                                                transform="matrix(-1 -.014 -.042 1 805.908262 5.656788)"
                                            ></rect>
                                        </clipPath>
                                    </defs>
                                    <g class="frame-container-wrapper">
                                        <g class="frame-container-blur">
                                            <g
                                                class="frame-container-shadows"
                                                clip-path="url(#d)"
                                            >
                                                <g class="fills">
                                                    <rect
                                                        width="41.09875635"
                                                        height="54.46850148"
                                                        x="376.27531118"
                                                        y="263.81926679"
                                                        class="frame-background"
                                                        rx="20.54937818"
                                                        ry="20.54937818"
                                                        style="fill:#7c8fa2;fill-opacity:1"
                                                        transform="matrix(-1 -.014 -.042 1 805.908262 5.656788)"
                                                    ></rect>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                    <path
                        d="M266.6 435.451c0-1.418 1.536-2.57 3.428-2.57h100.193c1.891 0 3.427 1.152 3.427 2.57 0 8.866-9.599 16.064-21.422 16.064h-64.203c-11.823 0-21.423-7.198-21.423-16.064Z"
                        class="fills"
                        style="fill:#eea8a0;fill-opacity:1"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
<script>
    const avatar = document.getElementById("avatar")!;
    const eyes = document.querySelectorAll(".eye")!;

    let intervalId = null;
    let mouseIn = true;
    let mouseX = 0;
    let mouseY = 0;
    let lastMouseX = 0;
    let lastMouseY = 0;

    function handleAnimation() {
        if (!mouseIn || (mouseX === lastMouseX && mouseY === lastMouseY)) {
            return;
        }
        let centered = false;

        console.log("eye tick");
        eyes.forEach((eye) => {
            if (centered) {
                eye.setAttribute("transform", "translate(0, 0)");
                return;
            }
            const box = avatar.getBoundingClientRect();
            const centerX = box.left + box.width / 2;
            const centerY = box.top + box.height / 2;

            const dx = mouseX - centerX;
            const dy = mouseY - centerY;
            const distance = Math.sqrt(dx * dx + dy * dy);

            const threshold = 100;
            const maxOffset = 10;

            if (distance < threshold) {
                eye.setAttribute("transform", "translate(0, 0)");
                centered = true;
            } else {
                const angle = Math.atan2(dy, dx);
                const offsetX = (Math.cos(angle) * maxOffset).toFixed(1);
                const offsetY = (Math.sin(angle) * maxOffset).toFixed(1);
                eye.setAttribute(
                    "transform",
                    `translate(${offsetX}, ${offsetY})`,
                );
            }
        });
    }

    function handleMouseMove(e: MouseEvent) {
        lastMouseX = mouseX;
        lastMouseY = mouseY;
        mouseX = e.clientX;
        mouseY = e.clientY;
    }

    function handleMouseEnter(e: MouseEvent) {
        mouseIn = true;
    }
    function handleMouseLeave(e: MouseEvent) {
        mouseIn = false;
    }

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                intervalId = setInterval(handleAnimation, 100);
                window.addEventListener("mousemove", handleMouseMove);
                window.addEventListener("mouseenter", handleMouseEnter);
                window.addEventListener("mouseleave", handleMouseLeave);
            } else {
                eyes.forEach((eye) =>
                    eye.setAttribute("transform", "translate(0, 0)"),
                );
                clearInterval(intervalId);
                window.removeEventListener("mousemove", handleMouseMove);
                window.removeEventListener("mouseenter", handleMouseEnter);
                window.removeEventListener("mouseleave", handleMouseLeave);
            }
        });
    });
    observer.observe(avatar);
</script>
