<footer
    class="flex flex-col bg-surface text-text p-4 text-center md:grid md:grid-cols-2 md:grid-rows-[3fr_1fr]"
>
    <p class="col-span-2 row-2">
        Kevin Stefanelli © 2025 - Tous droits réservés
    </p>
</footer>
