---
import logo from "@/assets/icons/logo.svg?raw";
---

<header class="container">
    <div>
        <a href="/" class="logo" aria-label="Accueil">
            <span aria-hidden="true" set:html={logo} />
        </a>
        <nav></nav>
    </div>
</header>
<style>
    header {
        position: fixed;
        z-index: 10;
        top: 1rem;
        height: 4rem;
        width: 100%;
    }

    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1rem;
        border-radius: 0.5rem;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.498);
        backdrop-filter: blur(1rem);
    }

    .logo {
        height: 2rem;
        width: 2rem;
        color: var(--color-1);
        display: inline-flex;
    }
</style>
