---
const currentPath = Astro.url.pathname;
const isHome = currentPath === "/";
---

{
  isHome ? (
    <span
      class="fixed logo flex flex-col text-primary select-none"
      aria-disabled={isHome}
      aria-label="Kevin Stefanelli – retour à l’accueil"
      tabindex={isHome ? -1 : undefined}
      draggable="false"
    >
      <span class="leading-5 text-2xl text-text-secondary font-black">
        Kevin
        <br />
        Stefanelli
      </span>
    </span>
  ) : (
    <a
      href={isHome ? "#" : "/"}
      class="fixed logo flex flex-col text-primary select-none"
      aria-disabled={isHome}
      aria-label="Kevin Stefanelli – retour à l’accueil"
      tabindex={isHome ? -1 : undefined}
      draggable="false"
    >
      <span class="leading-5 text-2xl text-text-secondary font-black">
        Kevin
        <br />
        Stefanelli
      </span>
    </a>
  )
}
