---
import { type Technologie, skills } from "@/assets/datas/skills";
import SkillCard from "@/components/cards/SkillCard.astro";
---

<section class="grid place-items-center h-screen">
    <article class="flex flex-col gap-5">
        <h2 class="font-black text-text-primary text-5xl">
            Stack & expertises
        </h2>
        <p class="text-xl text-text-secondary">
            Un aperçu rapide de mon terrain de jeu,<br /> en constante évolution le
            tout pensé pour des produits concrets.
        </p>
    </article>
    {
        skills.map((s) => (
            <SkillCard {...s} />
        ))
    }
</section>
