<h2 class="name">
    <a href="/">
        Kevin<br />Stefanelli
    </a>
</h2>

<style>
    .name {
        font-weight: 900;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 0.75;
    }
</style>
