@keyframes wave {
	0%,
	100% {
		transform: translate3d(0, -0.4rem, 0);
	}

	50% {
		transform: translate3d(0, 0rem, 0);
	}
}

.avatar-bob-front {
	transform-origin: center;
	animation: wave 4.2s ease-in-out infinite;
}

.avatar-bob-back {
	transform-origin: center;
	animation: wave 4.3s ease-in-out infinite;
}
