@import "./commons/variables.css";
@import "./commons/reset.css";
@import "./commons/typography.css";

@import "./components/layout.css";
@import "./components/buttons.css";

body {
	color: var(--color-text);
	background-color: var(--color-bg);
	min-height: 300vh;
}
