*,
::before,
::after,
::file-selector-button {
	margin: 0;
	padding: 0;
	border: 0 solid;
	box-sizing: border-box;
	line-height: calc(1em + 0.5rem);
}

html {
	scroll-behavior: smooth;
	text-size-adjust: 100%;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	overflow-wrap: break-word;
	font-size: inherit;
	font-weight: inherit;
}

p {
	text-wrap: pretty;
	overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
}

img,
svg {
	vertical-align: middle;
}

button,
input:where([type="button"], [type="reset"], [type="submit"]),
::file-selector-button {
	cursor: pointer;
	border: none;
	background: none;
	line-height: 1;
	appearance: button;
}

input,
button,
textarea,
optgroup,
select {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	color: inherit;
	border-radius: 0;
	opacity: 1;
}

textarea {
	resize: vertical;
}

hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family: inherit;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

mark,
ins {
	background: none;
	color: inherit;
}

fieldset {
	border: none;
}

table {
	border-color: inherit;
	border-collapse: collapse;
	text-indent: 0;
}

progress {
	vertical-align: baseline;
}

summary {
	display: list-item;
}

abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

:-moz-focusring {
	outline: auto;
}

::placeholder {
	opacity: 1;
}

@supports (not (-webkit-appearance: -apple-pay-button)) or (contain-intrinsic-size: 1px) {
	::placeholder {
		color: color-mix(in oklab, currentcolor 50%, transparent);
	}
}

::-webkit-datetime-edit {
	display: inline-flex;
}

:-moz-ui-invalid {
	box-shadow: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #ffffff;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #23232329;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
