---
import "@/assets/styles/index.css";
import themeScript from "@/assets/scripts/theme.ts?url";
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <script src={themeScript}></script>
    </head>
    <body>
        <div class="container">
            <h1>Lorem</h1>
            <h2>Lorem, ipsum dolor.</h2>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing.</h4>
            <h5>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa,
                nesciunt.
            </h5>
            <h6>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                quisquam culpa atque eveniet maiores porro!
            </h6>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur atque deserunt velit quia, sint a libero aut
                dignissimos amet impedit corrupti pariatur porro nobis eveniet
                placeat hic dicta enim saepe!
            </p>
        </div>

        <button type="button" data-toggle-theme>Change theme</button>
    </body>
</html>
