---
import "@/assets/styles/index.css";
import themeScript from "@/assets/scripts/theme/index.ts?url";
import Header from "@/partials/Header.astro";
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <script is:inline src={themeScript} type="module"></script>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
    </body>
</html>
