---
import "@/assets/styles/index.css";
import { SEO, type SEOProps } from "astro-seo";
import Footer from "./partials/Footer.astro";
import Header from "./partials/Header.astro";
import PreloadedTheme from "./scripts/PreloadedTheme.astro";
import { buildSEOProps } from "@/utils/seo";

interface LayoutProps {
  className?: string;
  seo?: SEOProps;
}

const canonical = Astro.url?.href ?? "";
const { className = "", seo: providedSeo } = Astro.props as LayoutProps;
const seo = buildSEOProps(canonical, providedSeo);
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content={Astro.generator} />
	<SEO {...seo} />
    <PreloadedTheme />
</head>

<body class="min-h-screen grid grid-rows-[auto_auto] bg-background-primary">
    <Header />
    <main class={"container text-text-primary " + className}>
        <slot />
    </main>
    <Footer />
</body>
</html>
